body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2,h4{
    color: #fff;
}
img{
    max-width: 150px;
    width: 100%;
}
.container{
    max-width: 600px;
    width: 100%;
}
header,footer {
    background-color: #626262;
    padding: 25px;
    text-align: center;
}
main{
    display: flex;
}
aside{
    background-color: #eaeaea;
    padding: 20px 30px;

}
main aside ul {
    list-style: none;
    margin: 0;
    padding:0;
}
article{
    padding: 20px;
}
article h1{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 375px) {
    main {
     flex-direction: column;
    }
  }
  